html {
  font-size: 1.406em; /*22.5px @ 16px */
  line-height: 1.22em; /*28px @ 18px */
  font-family: Helvetica, Arial, sans-serif;
  text-align: left;
  background: #fffbf8;
}

header {
  background: url(../img/headerphoto-4493-60.jpg) #49311c;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
}
